@media (max-width:425px){

    .portfolio{
        height: 80%;
        font-size: 1rem;
        gap: 3rem;
        border: none;
        box-shadow: none;
        padding: 0;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 4rem;

    }

    .about div p{
        width: 18vh;
    }
}